.navbar-collapse{
	border:none !important;
	//@include box-shadow(none);

	@media screen and (max-width: $screen-sm-max) {
	  float:left !important;
	}
}
.navbar{
	//@include box-shadow(0px 0px 15px rgba(0,0,0,0));
	background:rgba($brand-secondary, 0);
	border:none;
	@include transition(all 0.25s);

	@media screen and (min-width: $screen-md-min) {
		.container{
		    padding-left:60px;
		 }
		}






	body.scroll &, body.nav-open &{
		//@include box-shadow(0px 0px 15px rgba(0,0,0,0.75));
		background:rgba($brand-secondary,1);
		ul li a{
			color:$gray-lightest;
		}
	}

	ul{
		padding-left:40px;
		@media screen and (max-width: $screen-sm-max) {
		  li:first-child a{ padding-left:3px;}
		  padding-left:0px;
		}


		li a{
			font-family:$font-family-sans-serif;
			outline: 0 !important;
			zoom: 1;
			font-size:16px;
			@media screen and (max-width: $screen-sm-max) {
		  padding-left:0px;
		}

		}
		@media screen and (min-width: $screen-md-min) {
		   margin-top:-40px;
		}
		@media screen and (min-width: $screen-md-min) {
		    margin-top: 28px;
		}

	}

	.navbar-brand{
		position:relative;

		.site-title{
			color:$gray-base;
			font-family: $font-family-sans-serif;
			font-weight:bold;
			text-transform:uppercase;
			letter-spacing:1.15px;
			position:absolute;

			width:180px;
			text-align:center;
			top: 90px;
			font-size: 17px;

			@media screen and (min-width: $screen-sm-min) {
				left:233px;
				top:18px;
				text-align: left;
			}

		}
	}
	.navbar-toggle{
		margin-top:11px;
	}
}


.navbar-header{
	@media screen and (max-width: $screen-sm-min) {
		height:122px;


	}
}
