
 @font-face {font-family: 'LeituraSans-Italic1';src: url('../webfonts/201D8E_0_0.eot');src: url('../webfonts/201D8E_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/201D8E_0_0.woff') format('woff'),url('../webfonts/201D8E_0_0.ttf') format('truetype');}

 @font-face {font-family: 'LeituraSans-Italic3';src: url('../webfonts/201DE3_0_0.eot');src: url('../webfonts/201DE3_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/201DE3_0_0.woff') format('woff'),url('../webfonts/201DE3_0_0.ttf') format('truetype');}
   
 @font-face {font-family: 'LeituraSans-Italic2';src: url('../webfonts/201DE3_1_0.eot');src: url('../webfonts/201DE3_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/201DE3_1_0.woff') format('woff'),url('../webfonts/201DE3_1_0.ttf') format('truetype');}

