
#letter-to-shareholders .section-header h2{


    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8100a9cc,endColorstr=#8100a9cc); 
    zoom: 1;
	
}
#featured-opportunities .section-header h2{


    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#81B2BB1C,endColorstr=#81B2BB1C); 
    zoom: 1;
}
#by-the-numbers .section-header h2{

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#81F58026,endColorstr=#81F58026); 
    zoom: 1;
}
#business-segments .section-header h2{


    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#81E9376F,endColorstr=#81E9376F); 
    zoom: 1;
}
#company-information .section-header h2{

	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#81008AB0,endColorstr=#81008AB0); 
    zoom: 1;
}
#financial-downloads .section-header h2{

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#81FCB046,endColorstr=#81FCB046); 
    zoom: 1;
}

